*{margin: 0px; padding: 0px; text-decoration: none; list-style: none;}
.wrap{margin: 0 auto; width: 1000px;height: auto;}
header{height: 150px;width: 1000px;}
#logo{padding: 25px;}
ul{width: 475px;height: 36px;float: right;padding-top: 30px;}
ul > .header{ width: 60px;height:36px;text-align: center; line-height: 36px;float: left;border: 1px solid lightgray;font-size: 14px;}
ul > #input{float: right;}
#input{height: 34px;}
#plus{height: 38px; float: right;}
.head_top{height: 50px;margin-top: -25px;}
.nav{width: 1000px; height: 45px;border-bottom: 1px solid black; color: black;}
.nav > li{width: 125px; height: 45px;float: left;text-align: center;line-height: 45px;}
.nav > li >ul{width: 120px;height: 0px; margin-top: -29px;overflow: hidden;transition: 1.0s;}
.nav > li:hover>ul{height:225px;}
.nav > li > ul >li{width: 125px;height: 45px; text-align: center;background-color:lightgray;border-collapse: collapse;}
ㄴ
